@media (max-width: 1325px) {
  .header-container {
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 13px;
    width: 238px;
}
.header__logo-img {
  width: 73px;
  height: 72px;
}

.header__logo-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  width: 153px;
}

.header-list__item {
  width: 190px;
}

.header-list__item:not(:last-child) {
  margin-right: 30px;
}

.header-item-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
}

.header__social {
    margin-right: 20px;
    width: 76px;
    flex-wrap: nowrap;
}

  .header-list {
    margin-right: 0px;
}

.header-phone-text {
  padding-left: 14px;
}

.top__list {
  bottom: -110px;
}

.consultation__list-item {
  width: 310px;
  margin-bottom: 40px;
}

.consultation__list-bg1 {
  background-size: 300px 200px;
}
.consultation__list-bg2 {
  background-size: 300px 200px;
}
.consultation__list-bg3 {
  background-size: 300px 200px;
}
.consultation__list-title {
  padding-top: 200px;
  width: 310px;
}

.stocks__list-item {
  width: 300px;
  height: 300px;
}

.swiper-wrapper {
  justify-content: space-between;

}



.swiper-slider {
  background-size: 100% 100%;
}

.services__list-item {
  width: 100%;
}

.services__list-item-social {
  right: 310px;
}

.services__list-item-btn {
  right: 250px;
}
.srvices__bg {
  background-position: right 30px;
}

.services__list-item:not(:nth-child(2n)) {
  margin-right: 0;
}

.services__centr-block-left-title {
  width: 100%;
  font-weight: 600;
  font-size: 27px;
}

.services__centr-block {
  flex-wrap: wrap;
  justify-content: center;

}
.services__centr-block-left {
  margin-right: 0;
  align-items: center;
}



.services__text {
  font-size: 27px;
}

.services__centr-block-left-btn {
  display: none;
}
.services__centr-block-left-btn2 {
  display: block;
  align-items: center;
}

.services__centr-right-list {
  margin-bottom: 50px;
}

.services__bott-list {
  align-items: center;
}

.services__bott-list-item {
  transform: translate(0);
}

.contacts-contant {
  left: 10px;
}

}




@media (max-width: 1024px) {
  .top__contant {
    background-image: url(../img/tobg1024.png);
  }

  .top__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    width: 628px;
  }

  .top__text {
    font-size: 24px;
    width: 501px;
  }

  .top__text2 {
    margin-bottom: 20px;
    margin-right: 46px;
  }

  .top__button {
    align-items: center;
    flex-direction: row;
  }

  .top__btn {
    width: 190px;
    height: 40px;
  }

  .footer-contant {
    justify-content: space-between;
    align-items: center;
  }

  .top__list-item {
    padding: 104px 17px 41px 17px;
    background-position: center 26px;
    text-align: center;
  }

  .consultation__text {
    font-size: 24px;
  }

  .stocks__text {
    font-size: 27px;
  }


  .section__doctors-text {
    font-size: 26.9px;
  }

  .doctors-contant {
    position: relative;
  }

  .doctors__tabs-content {
    height: 640px;
  }

  .doctors__tabs-item {
    padding-top: 0;
    position: relative;
    width: 422px;
    height: 600px;
    padding-bottom: 0;
  }

  .doctors__name {
    font-size: 17px;
  }
  .text-grey {
    font-size: 15px;
  }
  .doctors__text {
    font-size: 15px;
  }
  .tabs-nav__btn {
    padding: 23px 30px 10px 170px;
  }
  .doctor-img {
    position: absolute;
    left: 15px;
    bottom: 0;
  }

  .doctors__tabs-name {
    font-size: 24px;
  }

  .doctors__tabs-bott {
    background: rgba(243, 254, 254, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    position: absolute;
    bottom: -40px;
    left: 0;
    padding-top: 21px;
    padding-left: 28px;
    width: 100%;
  }

  .doctors__btn {
    position: absolute;
    bottom: -20px;
  }
  .doctors__social {
    position: absolute;
    bottom: -40px;
    right: 80px;
  }

  .doctors__bg-1 {
    background-image: url(../img/docbg10241.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 0;
  }
  .doctors__bg-2 {
    background-image: url(../img/docbg10242.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 0;
  }
  .doctors__bg-3 {
    background-image: url(../img/docbg10243.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 0;
  }
  .doctors__bg-4 {
    background-image: url(../img/docbg10244.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 0;
  }
  .doctors__bg-5 {
    background-image: url(../img/docbg10245.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 0;
  }
  .doctors__bg-6 {
    background-image: url(../img/docbg10246.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 0;
  }


  .tabs-nav__item {
    width: 525px;
  }

  .doctors__tabs-bott-text2 {
    width: 366px;
    line-height: 140%;
  }

  .doctors__choice-text {
    font-size: 28px;
  }

  .doctors__choice-list {
    padding-left: 160px;
    padding-right: 160px;
    flex-wrap: wrap;

  }

  .doctors__choice-list-item:not(:last-child) {
    margin-right: 20px;
  }

  .doctors__choice-list-item:nth-child(n) {
    margin-bottom: 87px;
  }


  .reviews__list-item {
    background-position: 20px 40px;
  }

  .reviews__date {
    position: absolute;
    left: 30px;
    bottom: 20px;
  }
  .reviews__doc-text {
    font-size: 16px;
    line-height: 140%;
  }


  .about__block {
    padding-left: 20px;
  }

  .about__block-text {
    width: 482px;
    font-size: 22px;
  }

  .about__block-text br {
    display: none;
  }

  .about__list-item {
    background-image: none;
    background-repeat: no-repeat;
    /* background-position: left center; */
    padding-left: 0;
    width: 482px;
  }

  .about__list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .about__block-left {
    margin-right: 20px;
  }

  .about__block {
    margin-bottom: 60px;
    padding-top: 20px;
  }

  .about__block-right {
    align-items: center;
  }

  .about-block__right-img {
    height: 300px;
  }

  .contacts-contant {
    left: 10px;
  }


  .burger {
    display: block;
  }

  .burger {
    position: relative;
    width: 60px;
    height: 60px;
    color: #0a9dba;
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;

  }


  .footer__nav {
    position: absolute;
    width: 30%;
    min-width: 250px;
    height: 400px;
    margin-bottom: 300px;
    z-index: 1000;
    padding-left: 60px;
    border-radius: 20px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visability 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .footer__nav .footer__list {
    flex-direction: column;
  }

  .footer__nav .footer__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer__nav .footer__nav-link {
    font-size: 18px;
  }

  .footer__nav--active {
    visibility: visible;
    transform: none;
  }

  .burger--active
  .burger__line:nth-child(2) {
    opacity: 0;
  }


  .burger--active
  .burger__line:first-child {
    left: 20%;
    top: 40%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active
  .burger__line:last-child {
    bottom: auto;
    left: 20%;
    top: 40%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }


  .burger__line {
    position: absolute;
    bottom: 50%;
    transform: translateX(35%);
    width: 35px;
    height: 5px;
    border-radius: inherit;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }


  .stop-scroll {
    overflow: hidden;
  }

  .footer__nav .footer__list {
    flex-direction: column;
  }

  .footer__nav .footer__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .burger__line:nth-child(1) {
    top: 18px;
  }

  .burger__line:nth-child(3) {
    bottom: 16px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(35%) translateY(-35%);
  }

}

@media (max-width: 992px) {
  .doctors__choice-list {
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center
  }
}

  @media (max-width: 900px) {
    .header__social {
      margin-right: 0;
      width: 30px;
      flex-direction: column;
  }

  .header__social-svg {
    margin-right: 0;
  }

  .header-list__item {
    width: 180px;
  }
  .header-list__item:not(:last-child) {
    margin-right: 15px;
  }

  .header__logo {
    margin-right: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (max-width: 800px) {
  .header-list__item-2 {
    display: none;
  }

  .top__contant {
    background-image: url(../img/topbg768.png);
  }

  .top__container-contant {
    padding-top: 30px;
    padding-left: 22px;
    padding-bottom: 132px;
    padding-right: 22px;
  }

  .top__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .top__text {
    margin-bottom: 30px;
  }

  .top__list {
    bottom: -150px;
  }
  .top__button {
    align-items: flex-start;
    flex-direction: column;
  }

  .top__btn {
    margin:  0 auto;
  }

  .top__list-item-title {
    font-size: 18px;
    font-weight: 600;
  }

  .top-list-bg2 {
    background-image: url(../img/UserGear.svg);
  }

  .top__list-item-text {
    font-size: 16px;
    max-width: 200px;
  }

  .consultation__list-item {
    padding-top: 5px;
    width: 230px;
    background-size: 230px 200px;
  }

  .consultation__list-title {
    font-size: 17px;
    line-height: 22px;
    width: 230px;
  }

  .swiper {
    max-width: 768px;
    height: 354px;
  }

  .swiper-slide {
    align-items: center;
    background-position: center top;
    background-size: 354px 354px;
  }

  .services__text br {
    display: none;
  }

  .services__text {
    max-width: 720px;
    margin: 0 auto;
  }

  .services__list-item {
    background-position: 500px center;
    background-size: 190px 290px;
  }

  .services__list-item-social {
    right: 220px;
  }

  .services__list-item-btn {
    right: 160px;
  }

  .services__centr-block-left-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .services__centr-right-list-item {
    font-weight: 500;
    font-size: 20px;
  }

  .services__bott {
    background-image: url(../img/servicesblogbg768.png);
    padding-bottom: 30px;
  }

  .services__bott-list-item {
    width: 690px;
  }

  .three {
    top: 50px;
  }

  .services__bott-item-btn {
    display: none;
  }

  .services__bott-item-social {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .servic-item4 {
    margin-bottom: 30px;
  }

  .section__doctors-text br {
    display: none;
  }

  .doctor-img {
    display: none;
  }

  .tabs-nav__btn {
    padding: 20px 27px 10px 27px;
    display: block;
  }

  .doctors__name {
    margin-bottom: 14px;
  }

  .tabs-nav__item {
    width: 354px;
  }

  .doctors__text {
    font-size: 15px;
  }
  .text-grey {
    font-size: 13px;
  }

  .doctors__tabs-item {
    width: 360px;
  }

  .doctors__tabs-name {
    font-weight: 500;
    font-size: 18px;
  }

  .doctors__tabs-text {
    font-size: 16px;
  }
  .doctors-grey {
    font-size: 15px;
  }

  .doctors__tabs-bott-text2 {
    width: 300px;
    font-size: 15px;
  }

  .doctors__social {
    right: 49px;
  }

  .about__text br {
    display: none;
  }

  .about__block {
    background-size: 482px 300px;
    background-position: 640px center;
  }

  .about__block-text {
    width: 368px;
    font-size: 19px;
  }

  .about__block-text2 {
    width: 354px;
    margin-bottom: 30px;
  }
  .about__block-text2 br {
    display: none;
  }

  .about__list-text-1 {
    display: none;
  }

  .about__list-text-3 {
    display: none;
  }

  .about__list-text-2 {
    width: 354px;
  }

  .about__list-item {
    width: 354px;
  }

  .about__block-left {
    height: 310px;
  }

  .about__block-right {
    width: 482px;
    height: 310px;
  }

  .record__container-contant {
    align-items: center;
  }

  .contacts__container-contant {
    flex-direction: column;
    align-items: center;
  }

  .contacts-contant {
    left: 10px;
  }

}








@media (max-width: 390px) {
  .container {
    padding: 0;
  }
  .header {
    background: #F3FEFE;
  }
  .header-container {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__logo {
    flex-direction: column;
    align-items: flex-start;
    width: 183px;

  }
  .header__social {
    display: none;
  }
  .header-list__item {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header__social {
    display: inline-block;
    flex-direction: row;
    width: 90px;
    justify-content: space-between;
  }
  .header__link:not(:last-child) {
    margin-right: 20px;
  }
  .header__social-svg {
    width: 32px;
    height: 32px;
  }

  .top__contant {
    background-image: url(../img/bgtop320.png);
    margin-bottom: 780px;
  }

  .top__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    width: 277px;
    margin-bottom: 20px;
  }

  .top__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #099DBA;
    width: 277px;
  }

  .top__text2 {
    font-weight: 400;
    font-size: 16px;
  }

  .top__list {
    flex-direction: column;
    bottom: -700px;
    padding-left: 55px;
  }

  .top__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .consultation__contant {
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }


  .section-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    width: 100%;
    margin-bottom: 20px;
  }

  .section-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .consultation__text {
    margin-bottom: 30px;
  }

  .doctors__tabs-item {
    display: none;
  }

  .doctors__social {
    display: none;
  }

  .doctors__btn {
    right: 92px;
    bottom: -62px;
  }

  .doctors__choice-text {
    font-size: 22px;
    text-align: center;
  }


  .consultation__list {
    flex-direction: column;
  }
  .consultation__btn {
    left: 34%;
    padding: 15px 64px;
  }

  .stocks__text br {
    display: none;
  }

  .stocks__contant {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .swiper-slide {
    background-size: 280px 280px;
    height: 280px;
  }

  .swiper {
    height: 290px;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services__text {
    margin-bottom: 30px;
  }

  .services__list-item {
    background-position: right top;
    background-size: 90px 150px;
    width: 280px;
    padding-top: 30px;
  }

  .services__list-item-title {
    font-weight: 600;
    font-size: 20px;
  }

  .services__list-item-text {
    font-weight: 400;
    font-size: 18px;
    width: 220px;
  }

  .item-list {
    display: none;
  }

  .services__list-item-social {
    display: none;
  }

  .srvices-text-margin {
    margin-bottom: 0;
  }

  .services__list-item-btn {
    flex-direction: column-reverse;
    right: 42px;
  }

  .services-btn1 {
    width: 190px;
    font-size: 18px;
    margin: 0;

  }

  .services-btn2 {
    width: 190px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .services__list {
    justify-content: center;
  }

  .services__list-item {
    height: 509px;
  }

  .video {
    width: 280px;
    height: 155px;
  }

  .services__centr-block-right {
    border-radius: 32px;
  }

  .services__centr-right-list-item {
    font-size: 16px;
  }

  .services__bott {
    display: none;
  }

  .reviews {
    display: none;
  }

  .awards__list {
    flex-direction: column;
  }

  .stocks__scroll-elips {
    display: none;
  }


  .awards-center {
    display: block;
    display: flex;
    justify-content: center;
  }

  .awards__list-item:nth-child(-n+2) {
    display: none;
  }

  .awards-center--hidden {
    display: none;
  }

  .awards__list-item.awards__list-item--visable {
    display: block;
  }

  .awards-more {
    padding: 8px 35px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #099DBA;
    background: #FFFFFF;
    border: 1px solid #099DBA;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 200px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .awards-more:hover {
    color: #fff;
    border: 1px solid #036ebf;
    background-color: #036ebf;
  }
  .awards-more:focus {
    color: #fff;
    border: 1px solid #036ebf;
    background-color: #036ebf;
  }




  .about-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__text {
    margin-bottom: 10px;
  }

  .about__block {
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .about__block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .about__block-text {
    width: 295px;
    text-align: center;
    margin-bottom: 0;
  }

  .about__list-item {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .about__list-text-2 {
    width: 295px;
    text-align: center;
  }

  .about__block-right {
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
  }

  .about-block__right-img {
    width: 310px;
  }

  .about__list-img {
    display: none;
  }

  .record__container-contant {
    justify-content: center;
  }

  .record-contant {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .record__text-last {
    display: none;
  }

  .record-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .record__form-element {
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
  }

  .record__text-first {
    font-size: 19px;
    width: 300px;
    margin-bottom: 15px;
  }

  .record__btn {
    padding: 9px 75px;
  }

  .contacts-contant {
    padding: 30px 30px 30px 30px;
    width: 320px;
    left: 35px;
  }

  .contacts-contant {
    display: flex;
    flex-direction: column;
  }

  .contacts__title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .contacts__adress {
    font-size: 19px;
  }

  .contacts-phone {
    font-size: 19px;
  }

  .contacts__social-text {
    font-size: 13px;
  }

  .contacts__vk {
    font-size: 17px;
  }

  .footer-contant {
    max-width: 320px;
  }

  .footer__logo {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

}

@media (max-width: 320px) {
  .top__list {
    padding-left: 20px;
  }

  .consultation__btn {
    left: 43%;
  }

  .contacts-contant {
    width: 310px;
    left: 5px;
  }

  .about__block-left {
    margin-right: 0;
  }
}
