html {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Regular'), url('../fonts/gilroy-regular.woff') format("woff"),
  url("../fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Medium'), url('../fonts/Gilroy-Medium.woff') format("woff"),
  url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-SemiBold'), url('../fonts/gilroy-semibold.woff') format("woff"),
  url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Bold'), url('../fonts/gilroy-bold.woff') format("woff"),
  url("../fonts/gilroy-bold.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-ExtraBold'), url('../fonts/gilroy-extrabold.woff') format("woff"),
  url("../fonts/gilroy-extrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #fff;
  min-width: 320px;
  font-family: 'Gilroy', 'Misto', sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-contant {
  max-width: 1290px;
  padding: 0;
  margin: 0 auto;
}

.section-title {
  font-weight: 500;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  color: #474551;
  margin-bottom: 30px;
}

.section-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  color: #099DBA;
  margin-bottom: 60px;
}

/* header  */
.header-container {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 36px;
}

.header__logo {
  align-items: center;
  margin-right: 55px;
}
.header__logo-img {
  margin-right: 15px;
}

.header__logo-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  width: 190px;
  color: #099DBA;
}

.header-list {
  margin-right: 184px;
}

.header-list__item {
  width: 210px;
}
.header-list__item:not(:last-child) {
  margin-right: 60px;
}

.adress-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #099DBA;
  margin-bottom: 10px;
}

.adress-bg-local {
  background-image: url(../img/headermap.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}

.header-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #474551;
}

.header__social {
  margin-right: 65px;
}
.header__social-svg {
  margin-right: 9px;
}

.header-item-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  color: #474551;
  letter-spacing: 0.025em;
}
.header-phone-text {
  padding-left: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #099DBA;
}






/* section-top */
.top {
  margin-bottom: 228px;
}

.top__contant {
  background-image: url(../img/bgtop.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.top__container-contant {
  padding-top: 92px;
  padding-bottom: 132px;
}

.top__title {
  font-weight: 600;
  font-size: 58px;
  line-height: 120%;
  color: #474551;
  margin-bottom: 31px;
}

.top__text {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #099DBA;
  max-width: 630px;
  margin-bottom: 60px;
}
.top__text2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #474551;
  max-width: 456px;
  margin-bottom: 60px;
}
.top__text2-blue {
  color: #32d9db;
}

.top__button {
  flex-direction: column;
}

.top__btn {
  padding: 9px 45px;
  background-color: #046DBF;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  color: #fff;
  width: 190px;
}

.top__list {
  position: absolute;
  bottom: -100px;
}

.top__list-item {
  background: #F3FEFE;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 20px 25px 36px 112px;
  /* width: 410px; */
}
.top__list-item:not(:last-child) {
  margin-right: 31px;
}

.top-list-bg1 {
  background-image: url(../img/Calendar.svg);
  background-repeat: no-repeat;
  background-position: 29px center;
  background-size: 63px 63px;
}

.top-list-bg2 {
  background-image: url(../img/headerClock.svg);
  background-repeat: no-repeat;
  background-position: 29px center;
  background-size: 63px 63px;
}

.top-list-bg3 {
  background-image: url(../img/Fingerprint.svg);
  background-repeat: no-repeat;
  background-position: 29px center;
  background-size: 63px 63px;
}


.top__list-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #099DBA;
  margin-bottom: 10px;
}
.top__list-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  max-width: 272px;
}

/* consultation */
.consultation {
  margin-bottom: 90px;
}

.consultation__list-bg1 {
  background-image: url(../img/consult.png);
  background-repeat: no-repeat;
  background-position: top center;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
  border-radius: 20px;
}
.consultation__list-bg2 {
  background-image: url(../img/consult2.png);
  background-repeat: no-repeat;
  background-position: top center;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
  border-radius: 20px;
}
.consultation__list-bg3 {
  background-image: url(../img/consult3.png);
  background-repeat: no-repeat;
  background-position: top center;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
  border-radius: 20px;
}

.consultation__list {
  justify-content: space-between;
}

.consultation__list-item {
  width: 410px;
  margin-bottom: 40px;
}

.consultation__list-title {
  text-align: center;
  padding-top: 300px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #474551;
  margin-bottom: 20px;
}

.consultation__list-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #474551;
}

.consultation__btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px 136px;
  background-color: #046DBF;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

/* stocks */
.stocks {
  margin-bottom: 90px;
}

.blue {
  font-weight: 700;
  color: #036ebf;
}

.stocks__list {
  justify-content: space-between;
  margin-bottom: 30px;
}

.stocks__list-item {
  width: 410px;
  height: 410px;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 20px;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
  border-radius: 20px;
}

.stocks_bg1 {
  background-image: url(../img/stoccs.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.stocks_bg2 {
  background-image: url(../img/stocs2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.stocks_bg3 {
  background-image: url(../img/stocs3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.stocks-btn {
  padding: 8px 32px 8px 32px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #099DBA;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  width: 130px;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
}

.stocks__scroll-elips {
  justify-content: center;
  align-items: center;
}

.stocks-svg-elips {
  cursor: pointer;
}

.stocks-svg-elips:not(:last-child) {
  margin-right: 20px;
}


.swiper {
  width: 100%;
  height: 410px;
}

.swiper-slide {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}



.slider {
  /* width: 430px; */
  margin: 0 auto;
  overflow: hidden;
  /* border: 2px solid black; */
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -10px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.swiper-pagination {
  position: relative;
  height: 25px;
}

.swiper-pagination-bullet {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.swiper-pagination-bullet:hover {
  width: 22px;
  height: 22px;
}

.swiper-pagination-bullet:only-child{
  display: inline-block !important;
}

.swiper-pagination-bullet-active {
  background-color: #32d9db !important;
}






/* services  */
.services {
  margin-bottom: 90px;
}

.services__list {
  flex-wrap: wrap;
}
.services__list-item {
  background-color: #f3fefe;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 60px 208px 10px 31px;
  height: 560px;
}

.services__list-item {
  width: calc((100% - (var(30px) * 1)) / 2);
  margin-bottom: 30px;
}
.services__list-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.srvices__bg {
  background-image: url(../img/tooth.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.srvices__bg1 {
  background-image: url(../img/tooth2.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.srvices__bg2 {
  background-image: url(../img/tooth3.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.srvices__bg3 {
  background-image: url(../img/tooth4.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.srvices__bg4 {
  background-image: url(../img/tooth5.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.srvices__bg5 {
  background-image: url(../img/tooth6.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.services__list-item-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #099DBA;
  margin-bottom: 9px;
}
.services__list-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #474551;
  width: 366px;
  margin-bottom: 58px;
}

.services__list-item-text {
  width: 366px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #474551;
}

.srvices-text-margin {
  margin-bottom: 30px;
}

.item-list__item {
  list-style: none;
}
.item-list__item::before {
  font-weight: 400;
  color: #000;
  content: "•";
  padding-right: 7px;
}

.item-list__item {
  width: 390px;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #474551;
  text-align: left;
}

.services__list-item-social {
  align-items: center;
}
.services__teleg {
  margin-right: 9px;
}
.services__wa {
  margin-right: 30px;
}

.services__list-item-btn {
  justify-content: flex-end;
}

.services-btn1 {
  padding: 8px 39px;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #099DBA;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-right: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #099DBA;
}
.services-btn2 {
  padding: 8px 39px;
  background: #BDF8F9;
  border: 2px solid #099DBA;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  right: -100px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #099DBA;
}

.services__list-item {
  position: relative;
}

.services__list-item-social {
  position: absolute;
  right: 170px;
  bottom: 110px;
}

.services__social-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #474551;
}

.services__list-item-btn {
  position: absolute;
  right: 110px;
  bottom: 40px;
}

.services__centr-block-left {
  margin-right: 31px;
  flex-direction: column;
}

.services__centr-block {
  padding: 60px 80px 10px 80px;
  background-color: #f3fefe;
  background: #F3FEFE;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #f3fefe;
}

.services__centr-block-right {
  flex-direction: column;
  align-items: center;
}


.services__centr-block-left-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #099DBA;
  width: 547px;
  margin-bottom: 60px;
}

.services__centr-block-left-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #099DBA;
  margin-bottom: 9px;
}

.video {
  margin-bottom: 30px;
}

.services__centr-block-left-btn {
  padding: 8px 37px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #099DBA;
  background: #FFFFFF;
  border: 2px solid #099DBA;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-bottom: 36px;
  width: 200px;
}
.services__centr-block-left-btn2 {
  padding: 8px 37px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #099DBA;
  background: #FFFFFF;
  border: 2px solid #099DBA;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-bottom: 36px;
  display: none;
  width: 200px;
}

.services__centr-right-list-item {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #474551;
}

.services__centr-right-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.services__centr-right-list {
  padding-left: 23px;
}

.services__bott {
  background-image: url(../img/bgservices.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__bott-list {
  flex-direction: column;
}

.services-contant {
  border-radius: 32px;
}

.services__bott{
  padding-top: 60px;
  padding-bottom: 77px;
  border-bottom-right-radius: 32px;
}

.services__bott-list-item {
  background-color: #bcf9f9;
  padding: 18px 27px 18px 150px;
  width: 770px;
  border-radius: 20px;
  display: inline-block;
}
.services__bott-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.servic-item1 {
  transform: translate(80px);
  background-image: url(../img/serviceselips1.png);
  background-repeat: no-repeat;
  background-position: 30px center;
  position: relative;
}

.one {
  position: absolute;
  top: 35px;
  left: 70px;
}

.servic-item2 {
  transform: translate(190px);
  background-image: url(../img/serviceselips2.png);
  background-repeat: no-repeat;
  background-position: 30px center;
  position: relative;
  padding-top: 18px;
  padding-bottom: 46px;
}

.two {
  position: absolute;
  top: 35px;
  left: 60px;
}

.servic-item3 {
  transform: translate(300px);
  background-image: url(../img/serviceselips2.png);
  background-repeat: no-repeat;
  background-position: 30px center;
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
}

.three {
  position: absolute;
  top: 35px;
  left: 61px;
}

.servic-item4 {
  transform: translate(410px);
  background-image: url(../img/serviceselips2.png);
  background-repeat: no-repeat;
  background-position: 30px center;
  position: relative;
  padding-top: 18px;
  padding-bottom: 46px;
  margin-bottom: 60px;
}

.four {
  position: absolute;
  top: 35px;
  left: 57px;
}

.services__bott-list-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #474551;
}

.services__bott-item-social {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.services__bott-social-teleg {
  margin-right: 8px;
}
.services__bott-social-wp {
  margin-right: 16px;
}

.services__bott-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #474551;
}

.services__bott-item-btn {
  justify-content: center;
}

.services__bott-btn1 {
  padding: 7px 39px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #099DBA;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-right: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #099DBA;
}

.services__bott-btn2 {
  padding: 7px 39px;
  background: #046DBF;
  border: 2px solid #046DBF;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-right: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}

/* doctors */
.doctors {
  margin-bottom: 90px;
}

.doctors__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.tabs-nav__btn {
  text-align: left;
  background: #f3fefe;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 23px 40px 10px 190px;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}


.doctors__tabs {
  margin-right: 31px;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}

.doctor-img {
  position: absolute;
  left: 25px;
  bottom: 1px;
}

.doctors__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #474551;
  margin-bottom: 7px;
}
.doctors__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #099DBA;
}
.text-grey {
  color: #474551;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}


.doctors-contant {

}


.doctors__tabs-content {
  background: #FFFFFF;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-height: 690px;
  flex-direction: column;
  align-items: center;
}

.doctors__tabs-item {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 550px;
  position: relative;
  margin-bottom: 30px;
}

.doctors__tabs-name {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #474551;
  margin-bottom: 11px;
}

.doctors__tabs-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #099DBA;
}
.doctors-grey {
  color: #474551;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}

.doctors-white {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}

.doctors__tabs-bott {
  background: rgba(243, 254, 254, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  border: 1px solid #cdf3ff;
  position: absolute;
  bottom: 20px;
  padding-top: 16px;
  padding-left: 14px;
  height: 280px;
}
.doctors__tabs-bott-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #099DBA;
  margin-bottom: 10px;
}
.doctors__tabs-bott-text2 {
  width: 300px;
}

.right-bott-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #474551;
}

.doctors__bg-1 {
  background-image: url(../img/bigDoc1.png);
  background-repeat: no-repeat;
  background-position: right 70px;
  padding-right: 157px;
}
.doctors__bg-2 {
  background-image: url(../img/bigDoc2.png);
  background-repeat: no-repeat;
  background-position: right 70px;
  padding-right: 144.5px;
}
.doctors__bg-3 {
  background-image: url(../img/bigDoc3.png);
  background-repeat: no-repeat;
  background-position:  150px 70px;
  padding-right: 255px;
}
.doctors__bg-4 {
  background-image: url(../img/bigDoc4.png);
  background-repeat: no-repeat;
  background-position: right 70px;
  padding-right: 251px;
}
.doctors__bg-5 {
  background-image: url(../img/bigDoc5.png);
  background-repeat: no-repeat;
  background-position: right 70px;
  padding-right: 200px;
}
.doctors__bg-6 {
  background-image: url(../img/bigDoc6.png);
  background-repeat: no-repeat;
  background-position: right 70px;
  padding-right: 143px;
}

.tabs-nav__btn {
  transition: background-color 0.3s ease-in-out;
}
.tabs-nav__btn:hover {
  background-color: #bcf9f9;
}
.tabs-nav__btn:focus {
  background-color: #bcf9f9;
}
.tabs-nav__btn:active {
  background-color: #bcf9f9;
}

.doctors__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #099DBA;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #099DBA;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 7.5px 39px;
  display: inline-block;
  width: 188px;
  margin-bottom: 30px;
}

.doctors__social {
align-items: center;
}

.doctors__social-link {
  width: 28px;
  height: 28px;
}
.doctors__social-link:not(:last-child) {
  margin-right: 8px;
}
.doctors__social-link:nth-child(2n) {
  margin-right: 30px;
}

.services__bott-social-teleg {
  width: 28px;
  height: 28px;
}

/* choice */
.choice {
  margin-bottom: 128px;
}
.doctors__choice-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #099DBA;
  margin-bottom: 45px;
}

.doctors__choice-list-item:not(:last-child) {
  margin-right: 30px;
}

.doctors__choice-list-item {
  padding: 10px 41px 86px 41px;
  background: #F3FEFE;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 21px;
  position: relative;
  width: 190px;
}

.doctors__choice-list-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #099DBA;
}

.choiceelips {
  position: absolute;
  z-index: 99;
  top: 40px;
  right: 13px;
}

.choicethooth {
  position: absolute;
  z-index: 100;
  top: 60px;
  left: 57px;
}

/* reviews */
.reviews {
  margin-bottom: 84px;
}

.reviews-container {
  flex-direction: column;
  position: relative;
}
.reviews__list {
  margin-bottom: 30px;
}

.reviews__list-item {
  padding: 41px 31px 35px 221px;
  background: #F3FEFE;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 630px;
  position: relative;
}

.reviews__list-item:not(:last-child) {
  margin-right: 30px;
}

.reviews__doc-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #474551;
  margin-bottom: 20px;
}
.reviews__doc-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #474551;
}

.reviews__date {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.reviews-bg1 {
  background-image: url(../img/reviewsbg1.png);
  background-repeat: no-repeat;
  background-position: 30px center;
}
.reviews-bg2 {
  background-image: url(../img/reviewsbg2.png);
  background-repeat: no-repeat;
  background-position: 30px center;
}

.stocks__scroll-elips {
  text-align: center;
}

.reviews-svg {
  cursor: pointer;
}
.reviews-svg:not(:last-child) {
  margin-right: 20px;
}

.leave-review {
  position: absolute;
  right: 10px;
  bottom: -4px;
}

.leave-review-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #474551;
  background-image: url(../img/reviewsVK.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* awards */
.awards {
  margin-bottom: 90px;
}

/* about  */
.about {
  margin-bottom: 90px;
}

.about__block {
  background-image: url(../img/aboutbg.png);
  background-repeat: no-repeat;
  background-position: 640px center;
  background-size: 50% 100%;
  margin-bottom: 60px;
  padding-top: 20px;
}

.about__block-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #474551;
  width: 638px;
}
.about__block-text2 {
  margin-bottom: 40px;
}

.about__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.about__list-item:not(:last-child) {
  margin-bottom: 50px;
}


.about__list-item {
  background-image: url(../img/aboutlistbg.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 80px;
  width: 550px;
}

/* record */
.record-container {
  background-image: url(../img/recordbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 26px;
}

.record__container-contant {
  flex-direction: column;
  align-items: flex-end;
}

.record-contant {
  padding: 30px 55px 30px 25px;
  background: #F3FEFE;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 520px;
}

.record__text-first {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  color: #046DBF;
  margin-bottom: 30px;
}

.record__text-last {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #099DBA;
  margin-bottom: 30px;
  width: 400px;
}

.record__form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.record__form-element {
  width: 300px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 2px solid #BDF8F9;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.record__form input::placeholder {
    color: #BDF8F9;;
}

.record__btn {
  padding: 9px 100px;
  background: #046DBF;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

/* contacts */

.contacts-container {
  background-image: url(../img/conactsbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px 15px;
  padding-bottom: 30px;
  position: relative;
  z-index: 100;
}

.contacts-contant {
  padding: 30px 140px 34px 60px;
  background: #099DBA;
  opacity: 0.8;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 538px;
}

.contacts__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.contacts__adress {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.contacts__route {
  width: 185px;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  color: #036ebf;
  background-image: url(../img/routmap.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 12px;
}

.contacts__time {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.contacts__time-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.header-number {
  flex-direction: column;
  margin-bottom: 20px;
}

.contacts-phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.contacts-social {
  align-items: center;
  margin-bottom: 22px;
}

.contacts-tg {
  cursor: pointer;
  margin-right: 9px;
}
.contacts-wp {
  cursor: pointer;
  margin-right: 30px;
}
.contacts__social-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.contacts__vk {
  background-image: url(../img/reviewsVK.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contacts__placeholder {
  position: absolute;
  top: 162px;
  right: 630px;
}

/* footer  */

.burger {
  display: none;
}



.footer {
  padding-top: 30px;
  padding-bottom: 26px;
}

.footer__nav {
  align-items: center;
}

.footer__logo {
  align-items: center;
  align-items: center;
  margin-right: 210px;
}
.footer__logo-img {
  margin-right: 15px;
}

.footer__logo-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  width: 190px;
  color: #099DBA;
}

.footer__list-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #099DBA;
}

.footer__list-item:not(:last-child) {
  margin-right: 30px;
}

.footer__list {
  flex-wrap: wrap;
}


.footer__form {
  text-align: center;
}





/* hover  */

/* doctors  */
.doctors__list-item {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.doctors__list-item:hover {
  background-color: #bcf9f9;
}

.doctors__btn {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.doctors__btn:hover {
  color: #fff;
  background-color: #036ebf;
  border-color: #036ebf;
}

/* choice  */
.doctors__choice-list-item {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.doctors__choice-list-item:hover {
  background-color: #bcf9f9;
}

.doctors__choice-list-text{
  transition: color 0.3s ease-in-out;
}
.doctors__choice-list-text:hover {
  color: #fff;
}

.choiceelips:hover{
  fill: #fff;
}

.choiceelips {
  fill: #BDF8F9;
  transition: fill 0.3s ease-in-out;
}

.doctors__choice-list-item:hover .choiceelips {
  fill: #fff;
}

.doctors__choice-list-item:hover .doctors__choice-list-text {
  color: #fff;
}

/* top  */

.top__btn {
  border: 1px solid #036ebf;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.top__btn:hover {
  color: #0a9dba;
  border: 1px solid #0a9dba;
  background-color: transparent;
}
.top__btn:focus {
  color: #0a9dba;
  border: none;
  background-color: transparent;
}


/* record  */
.record__btn {
  border: 1px solid #036ebf;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.record__btn:hover {
  color: #32d9db;
  border: 1px solid #32d9db;
  background-color: transparent;
}.record__btn:focus {
  color: #32d9db;
  border: 1px solid #32d9db;
  background-color: transparent;
}

/* stocks  */
.stocks-btn {
  transition: bacground-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.stocks-btn:hover {
  color: #fff;
  background-color: #036ebf;
  border: 1px solid #036ebf;
}
.stocks-btn:focus {
  border: 1px solid #036ebf;
  color: #fff;
  background-color: #036ebf;
}

/* services  */
.services-btn1 {
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.services-btn1:hover {
  border-color: #036ebf;
  color: #fff;
  background-color: #036ebf;
}
.services-btn1:focus {
  border-color: #036ebf;
  color: #fff;
  background-color: #036ebf;
}

.services-btn2 {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.services-btn2:hover {
  border-color: #036ebf;
  color: #fff;
  background-color: #036ebf;
}
.services-btn2:focus {
  border-color: #036ebf;
  color: #fff;
  background-color: #036ebf;
}

.services__centr-block-left-btn {
  border: 1px solid #036ebf;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.services__centr-block-left-btn:hover {
  color: #fff;
  border: 1px solid #036ebf;
  background-color: #036ebf;
}
.services__centr-block-left-btn:focus {
  color: #fff;
  border: 1px solid #036ebf;
  background-color: #036ebf;
}

.services__centr-block-left-btn2 {
  border: 1px solid #a7dae4;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.services__centr-block-left-btn2:hover {
  color: #fff;
  border: 1px solid #036ebf;
  background-color: #036ebf;
}
.services__centr-block-left-btn2:focus {
  color: #fff;
  border: 1px solid #036ebf;
  background-color: #036ebf;
}


.services__bott-btn1 {
  border: 1px solid #036ebf;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.services__bott-btn1:hover {
  color: #fff;
  border: 1px solid #036ebf;
  background-color: #036ebf;
}
.services__bott-btn1:focus {
  color: #fff;
  border: 1px solid #036ebf;
  background-color: #036ebf;
}
.services__bott-btn2 {
  border: 1px solid #036ebf;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.services__bott-btn2:hover {
  color: #32d9db;
  border: 1px solid #32d9db;
  background-color: #ecf2fc;
}
.services__bott-btn2:focus {
  color: #32d9db;
  border: 1px solid #32d9db;
  background-color: #ecf2fc;
}



/* consultation  */
.consultation__btn {
  border: 1px solid #036ebf;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.consultation__btn:hover {
  color: #32d9db;
  border: 1px solid #32d9db;
  background-color: transparent;
}.consultation__btn:focus {
  color: #32d9db;
  border: 1px solid #32d9db;
  background-color: transparent;
}

